{% assign academic_services = site.data.data.academic-services %}
{% if academic_services %}
<section class="section experiences-section academic-services-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-users fa-stack-1x fa-inverse"></i>
    </span>
    {{ academic_services.title }}
  </h2>

  {% assign service_groups = academic_services.info | group_by: "role" %}
  {% for group in service_groups %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">{{ group.name }}</h3>
      </div>
      <ul class="service-list">
        {% for service in group.items %}
        <li>{{ service.organization }}, {{ service.year }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}
